<!-- <h1>I'm a BOX!!</h1>
This should show your box after you have edited it. 
It should show the dimensions, whether it arrived, and if it is sealed. -->
<!-- <ul>
<% @boxes.each #do |box| %>
	<%# link_to boxes_url(box) do %>
		<li><%# box.label %></li>
	<% #end %>
<% #end %>
</ul> -->

<!-- somehow put a link here to route back to the home page -->


<div class= "#bdbdbd grey lighten-1"><h1>Welcome...Ready to move?</h1></div>

<div class= "#e0e0e0 grey lighten-2"><h4>Boxes</h4></div>
<% @boxes.each do |box| %>
  <%= link_to box_url(box) do %>
 <h5><%= box.label %></h5>
<% end %>
 <table class="striped border"> 
  <th>Width: <%= box.width %></th>
  <th>Height: <%= box.height %></th>
  <th>Length: <%= box.height %></th>
  <th>Sealed: <%= box.sealed %></th>
  <th>Arrived: <%= box.arrived %></th>
</table>
  <!-- 
<div class="row">
    <% @items.each #do |item| %>
        <h1><%# item.name %></h1>
    <h4><%# item.description %></h4>
    <h4><%# item.weight %>: lbs</h4>
    <h4>$<%# item.value %> Dollars</h4>
    <% #end %>
  </div> -->

   
   <a class="btn-floating btn-large #d50000 red accent-4" data-confirm="Are you sure you want to delete <%= box.label %>?" data-method="delete" href="/boxes/<%= box.id %>" rel="nofollow">Delete</a>
<% end %>
<%# link_to "Add an Item", items_new_path(:box_id => box.id) %>
 
<button class="btn-floating btn-large #d50000 red accent-4"><%= link_to "Box", boxes_new_path %></button> 







<%# link_to "New Item", items_new_path(:box_id => @boxes.id), { :class => "button waves-effect waves-light btn" } %>
  <br><br>
  