
<!-- <div class="center"><h2><%# @boxes.label %></h2></div>
<div class="container #fce4ec pink lighten-5"><h5>Length: <%# @boxes.length%></h5></div>
<div class="container #f8bbd0 pink lighten-4"><h5>Width: <%# @boxes.width %></h5></div>
<div class="container #f48fb1 pink lighten-3"><h5>Height: <%# @boxes.height %></h5></div>
<div class="container #f06292 pink lighten-2"><h5>Is your box sealed? <%# @boxes.sealed %></h5></div>
<div class="container #ec407a pink lighten-1"><h5>Has your box arrived? <%# @boxes.arrived %></h5></div>
 -->

<!-- <div class="center #e91e63 pink"><%# button_to 'edit', box_edit_path, method: :get %></div> -->


<!-- lines 7 and 8 should show the total weight and value -->

<h2> Box: <%= @boxes.label %></h2>
<%= link_to "Edit Box", box_edit_path(:box_id => @boxes.id)%>
<%= link_to "New Item", items_new_path(:box_id => @boxes.id), { :class => "button waves-effect waves-light btn" } %>
  <br><br>
  <div class="row">
    <% @items.each do |item| %>
        <h1><%= item.name %></h1>
		<h4><%= item.description %></h4>
		<h4><%= item.weight %>: lbs</h4>
		<h4>$<%= item.value %> Dollars</h4>
    <% end %>
    <h1>Total <%# item.total %></h1>
  </div>
  