
<!-- <div class="center"><h2><%# @boxes.label %></h2></div>
<div class="container #fce4ec pink lighten-5"><h5>Length: <%# @boxes.length%></h5></div>
<div class="container #f8bbd0 pink lighten-4"><h5>Width: <%# @boxes.width %></h5></div>
<div class="container #f48fb1 pink lighten-3"><h5>Height: <%# @boxes.height %></h5></div>
<div class="container #f06292 pink lighten-2"><h5>Is your box sealed? <%# @boxes.sealed %></h5></div>
<div class="container #ec407a pink lighten-1"><h5>Has your box arrived? <%# @boxes.arrived %></h5></div>
 -->

<!-- <div class="center #e91e63 pink"><%# button_to 'edit', box_edit_path, method: :get %></div> -->


<!-- lines 7 and 8 should show the total weight and value -->

<div class= "#bdbdbd grey lighten-1"><h1 class="center"> Box: <%= @boxes.label %></h1></div>
<div class="center"><%= link_to "Edit Box", box_edit_path(:box_id => @boxes.id), { :class => "btn-floating btn-large #d50000 red accent-4" }%></div>
<div class="center"><%= link_to "New Item", items_new_path(:box_id => @boxes.id), { :class => "btn-floating btn-large #d50000 red accent-4" } %></div>
  <br><br>
<table class="striped border">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Value</th>
  </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.weight %> lbs</td>
        <td>$<%= item.value %></td>
        <!-- We need an edit and delete button for the items that will work -->
        <td><%= link_to "Edit Item", item_edit_path(:item_id => @boxes.id), { :class => "btn-floating btn-large #d50000 red accent-4" }%></div>
           
        </td>
       <!-- We need an edit button for the items that will work -->
       <td><a class="btn-floating btn-large #d50000 red accent-4" data-confirm="Are you sure you want to delete <%= item.name %>?" data-method="delete" href="/items/<%= item.id %>" rel="nofollow">Delete</a>
           </a>
        </td>
    <% end %>
  </table>
    <h3>Totals </h3> 
<h4 class="center #d50000 red accent-4"><a href= "/">Home</a></h4>
  <!-- </div> --> 
