<h1>Welcome.. Ready to move</h1>

<h4>
<% @boxes.each do |box| %>
  <%= link_to box_url(box) do %>
    <p><%= box.label %></p>

  <% end %>
<% end %>
<%= link_to "New Box", boxes_new_path %>
</h4>
<table class="striped bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Value</th>
  </tr>

  <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.weight %></td>
        <td><%= item.value %></td>
        <td><a href="<%= item_edit_path(item) %>" >
                    <i>Edit</i>
                </a>
          </td>
      </tr>
  <% end %>
</table>
<%= link_to "Add an Item", items_new_path %>

