<h1>Welcome.. Ready to move</h1>


<table class="striped bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Value</th>
  </tr>

  <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.weight %></td>
        <td><%= item.value %></td>
        <td><a href="<%= item_edit_path(item) %>" >
                    <i>Edit</i>
                </a>
          </td>
      </tr>
  <% end %>
</table>
<%= link_to "Add an Item", items_new_path %>