<h1>Welcome.. Ready to move</h1>

<h4>Boxes</h4>
<% @boxes.each do |box| %>
  <%= link_to box_url(box) do %>
    <p><%= box.label %></p>
  <table class="striped bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Value</th>
  </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.weight %></td>
        <td><%= item.value %></td>
        <td><a href="<%= item_edit_path(item) %>" >
                    <i>Edit</i>
                </a>
          </td>
          <td><a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= item.name %>?" data-method="delete" href="/items/<%= item.id %>" rel="nofollow"><i class="large material-icons">Delete</i>
           </a>
        </td>
      </tr>
  <% end %>
</table>
<%= link_to "Add an Item", items_new_path %>
<% end %>
<% end %> 

<%= link_to "New Box", boxes_new_path %>

