<div class= "#bdbdbd grey lighten-1"><h1>Welcome...Ready to move?</h1></div>

<div class= "#e0e0e0 grey lighten-2"><h4>Boxes</h4></div>
<% @boxes.each do |box| %>
  <%= link_to box_url(box) do %>
  <h5><%= box.label %></h5>
   <a class="btn-floating btn-large #d50000 red accent-4" data-confirm="Are you sure you want to delete <%= box.label %>?" data-method="delete" href="/boxes/<%= box.id %>" rel="nofollow">Delete</a>
 
  <table class="striped border">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Value</th>
  </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.weight %></td>
        <td><%= item.value %></td>
        <td><a href="<%= items_edit_path(item) %>" >
                    <i>Edit</i>
                </a>
          </td>
          <td><a class="btn-floating btn-large #d50000 red accent-4" data-confirm="Are you sure you want to delete <%= item.name %>?" data-method="delete" href="/items/<%= item.id %>" rel="nofollow">Delete</a>
           </a>
        </td>
      </tr>
  <% end %>
</table>
<% end %>
<button class="btn-floating btn-large #d50000 red accent-4"><%= link_to "Item", items_new_path %></button>
<% end %> 
<button class="btn-floating btn-large #d50000 red accent-4"><%= link_to "Box", boxes_new_path %></button> 

